
html
{
    display: flex;
    justify-content: center;
    align-items: center;
}

body
{
    background-color: #f6fdff;
    font-family: 'Montserrat';
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe{
    border-radius: 5px;
    box-shadow: #888888 3px 5px;
    background-color: #d0d3d3;
    margin: 10px;
    padding: 10px;
}

.logo
{
    width: 650px;
}

.collapsible 
{
    font-family: 'Montserrat';
    background-color: #d0d3d3;
    color: #4c4c4c;
    border: none;
    cursor: pointer;
    text-align: left;
    padding: 15px;
    font-size: 20px;
    width: 750px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.active, .collapsible:hover 
{
    background-color: #888888;
    color: white;
}

.content 
{
    max-height: 0;
    width: 750px;
    font-size: 16px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #e2e2e2;
    text-align: justify;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content p
{
    margin: 2%;
}

.infoContainer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 2%;
}

h1
{
    font-size: 24px;
    color: #4c4c4c;
}


@media only screen and (max-width: 1000px) {
    
    .content 
    {
        max-height: 0;
        width: 500px;
        font-size: 11px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #e2e2e2;
        text-align: justify;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .collapsible 
    {
        font-family: 'Montserrat';
        background-color: #d0d3d3;
        color: #4c4c4c;
        border: none;
        cursor: pointer;
        text-align: left;
        padding: 10px;
        font-size: 14px;
        width: 500px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .logo
    {
        width: 500px;
    }

    h1
    {
        font-size: 18px;
        color: #4c4c4c;
    }

}

@media only screen and (max-width: 500px) {
    
    .content 
    {
        max-height: 0;
        width: 275px;
        font-size: 11px;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #e2e2e2;
        text-align: justify;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .collapsible 
    {
        font-family: 'Montserrat';
        background-color: #d0d3d3;
        color: #4c4c4c;
        border: none;
        cursor: pointer;
        text-align: left;
        padding: 10px;
        font-size: 14px;
        width: 275px;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .logo
    {
        width: 325px;
    }

    iframe{
        border-radius: 5px;
        box-shadow: #888888 2.5px 4px;
        background-color: #d0d3d3;
        margin: 10px;
        padding: 5px;
    }

    h1
    {
        font-size: 11px;
        color: #4c4c4c;
    }
}